.experiment {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #2bdc67, #00dd99, #00dac1, #00d6dd, #12cfeb);
}

.experiment__wrapper {
  position: relative;
  background-color: white;
  width: 90%;
  height: 90%;
  box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.5);
}

.experiment__title {

}
