.button--big {
  width: 250px;
  height: 200px;

  margin: 12px;

  background-color: white;
  box-sizing: border-box;
  border-radius: 2px;

  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);

  transition:
    color 0.1s,
    background-color 0.1s,
    box-shadow 0.1s;
}

.button--big:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
}

.button--big > p {
  margin-bottom: 20px;
  color: #626262;
  font-size: 24px;
}

.button--big__active {
  background-color: #21c2b3;
  color: white;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
}

.button--big__active > p {
  color: white;
}
