@import url('https://fonts.googleapis.com/css?family=Questrial');

p {
  font-family: Questrial, sans-serif;
}

.body {
  width: 100%;
  height: 100vh;

  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right top, #2bdc67, #00dd99, #00dac1, #00d6dd, #12cfeb);
}

.particles {
  position: absolute;
  width: 100%;
  height: 99vh;
  z-index: -1;
}

.body__title {
  font-size: 128px;
  letter-spacing: 0.8px;
  color: #ffb435;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.body__description {
  color: white;
  font-size: 22px;
  margin-top: 12px;
}

.body__button {
  height: 200px;
  width: 300px;
  margin: 50px 20px;

  text-decoration: none;
  color: black;

  background-color: white;
  box-sizing: border-box;
  border-radius: 2px;

  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);

  transition:
    color 0.1s,
    background-color 0.1s;
}

.body__button:hover {
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #8121f7;
}

.body__button__text {
  margin-top: 32px;
  font-size: 28px;
  /* color: grey; */
}

.body__button--experiment {

}
