h1,
p {
  font-family: Lato;
}

.body {
  width: 100%;
  height: 100vh;
}

.body__title {
  font-size: 72px;
  letter-spacing: 0.6px;
  color: #ff9123;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.body__description {
  color: gray;
  margin-top: 12px;
}

.flex {
  display: flex;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}
